.graphics {
}

[role="slider"]:focus, [role="slider"]:focus-visible {
  outline: none;
}

.label {
  display: block;
  font-weight: 400;
  text-align: center;
  padding: 0;
  margin: 0;
}

.label-m {
  font-size: 18px;
  padding: 0;
  margin: 0;
  margin-bottom: -10px;
}

.label-l {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0px;
}

.knob {
  position: relative;
}

.legend {
  text-align: center;
  padding: 0;
  margin: 0;
}

.legend-m {
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  margin-top: -15px;
}

.legend-l {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  margin-top: -10px;
}
