.visualizer {
  width: 480px;
  height: 323px;
  margin: 40px auto;
  position: relative;
}

.visualizer::before {
  content: "";
  position: absolute;
  inset: 0 5px;
  background-image: url('../assets/kanagawa_480x323.png');
  background-size: cover;
  opacity: 0.2;
  z-index: -1;
}
